<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
    <display-name>Maui Server</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>org.topbraid.mauiserver.framework.RootServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <security-role>
        <role-name>maui-server</role-name>
    </security-role>
<!-- Uncomment this section to require basic auth for role "maui-server" -->
<!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Maui Server</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>maui-server</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <realm-name>Maui Server</realm-name>
        <auth-method>BASIC</auth-method>
    </login-config>
-->
</web-app>     
